*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media (max-width: 48em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 80%; } }

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  font-weight: 400; }

.container {
  max-width: 112rem;
  margin: 0 auto; }
  @media (max-width: 71.25em) {
    .container {
      width: 90%; } }

.h1 {
  font-size: 4.1rem;
  font-weight: 800; }
  .h1::after {
    content: '.';
    font-size: 0;
    display: block;
    height: 10px;
    width: 60px;
    margin: 4rem 0; }
  .h1__white {
    color: #fff; }
    .h1__white::after {
      background: #fff; }
  .h1__grey {
    color: #1e2123; }
    .h1__grey::after {
      background: #1e2123; }

.h2 {
  font-size: 1.9rem;
  font-weight: 800; }
  .h2__white {
    color: #fff; }
  .h2__grey {
    color: #1e2123; }

.h3 {
  font-size: 1.6rem;
  font-weight: 800;
  color: #1e2123; }

.paragraph {
  font-size: 1.7rem;
  line-height: 2rem; }
  .paragraph__white {
    color: #fff; }
  .paragraph__grey {
    color: #1e2123; }

.btn {
  font-size: 1.5rem;
  font-weight: 800;
  box-shadow: none;
  display: inline-block;
  text-align: center;
  padding: 1rem 0.8rem;
  text-decoration: none;
  cursor: pointer;
  transition: all .2s; }
  .btn__white {
    color: #fff;
    border-color: #fff;
    border: 3px solid #fff;
    background-color: #3b91c2;
    float: right; }
    .btn__white:hover {
      color: #1e2123;
      border-color: #1e2123;
      border: 3px solid #1e2123;
      background-color: #3b91c2; }
  .btn__blue {
    color: #0c9aec;
    border-color: #0c9aec;
    border: 3px solid #0c9aec;
    background-color: #fff; }
    .btn__blue:hover {
      color: #1e2123;
      border-color: #1e2123;
      border: 3px solid #1e2123;
      background-color: #fff; }

.form__group:not(:last-child) {
  margin-bottom: 1rem; }

.form__label {
  font-size: 1.5rem;
  font-weight: 700;
  display: block;
  margin-bottom: 1rem; }

.form__input {
  width: 36rem;
  font-size: 1.5rem;
  color: #1e2123;
  padding: 1.5rem;
  border: 3px solid #e8e8e9;
  transition: all .3s; }
  @media (max-width: 62em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    border: 3px solid #1e2123; }

.form__textarea {
  height: 17.5rem; }

.about {
  margin: 7rem 0; }
  @media (max-width: 62em) {
    .about {
      margin: 4rem 0; } }
  .about__wrapper {
    display: flex; }
    @media (max-width: 62em) {
      .about__wrapper {
        flex-direction: column;
        align-items: center; } }
  .about__welcome {
    margin-right: 8rem;
    background-color: #448ccb;
    display: block;
    width: 32rem;
    height: 55rem;
    padding: 6.5rem 5rem 0 5.3rem; }
    @media (max-width: 62em) {
      .about__welcome {
        padding: 3rem;
        margin-right: 0;
        width: 90%;
        height: 33rem; } }
    .about__welcome--p {
      padding-bottom: 12rem; }
      @media (max-width: 62em) {
        .about__welcome--p {
          padding-bottom: 2rem; } }
  .about__img {
    display: block;
    width: 100%;
    height: auto; }
  .about__text-block {
    padding: 4rem 8rem 0; }
    @media (max-width: 62em) {
      .about__text-block {
        padding: 3rem; } }
  .about__p {
    padding-top: 2.4rem; }
  .about__design {
    display: block;
    width: 64rem;
    height: 55rem;
    background-color: #d7d7d7; }
    @media (max-width: 62em) {
      .about__design {
        margin-top: 3rem;
        width: 90%;
        height: 58rem; } }
    @media (max-width: 48em) {
      .about__design {
        height: 56rem; } }
    @media (max-width: 36em) {
      .about__design {
        height: 48rem; } }

.contact {
  margin: 7rem 0; }
  @media (max-width: 62em) {
    .contact {
      margin: 4rem 0; } }
  .contact__wrapper {
    display: flex;
    margin-top: 8rem; }
    @media (max-width: 62em) {
      .contact__wrapper {
        flex-direction: column;
        margin-top: 3rem;
        align-items: center; } }
  .contact__box {
    display: block;
    width: 53rem; }
    @media (max-width: 62em) {
      .contact__box {
        width: 90%; } }
  .contact__p:not(:last-child) {
    margin-bottom: 2.8rem; }
  .contact__form {
    margin-top: 13rem;
    margin-left: 8rem;
    display: inline-block;
    width: 36rem; }
    @media (max-width: 62em) {
      .contact__form {
        width: 70%;
        margin-top: 3rem;
        margin-left: 0;
        align-items: center; } }
    @media (max-width: 48em) {
      .contact__form {
        width: 90%; } }

.development {
  background-color: #448ccb;
  background-size: cover;
  width: 100%;
  height: 56rem; }
  @media (max-width: 62em) {
    .development {
      height: 60rem; } }
  @media (max-width: 48em) {
    .development {
      height: 64rem; } }
  @media (max-width: 36em) {
    .development {
      height: 68rem; } }
  .development__wrapper {
    display: flex;
    padding-top: 10rem; }
    @media (max-width: 62em) {
      .development__wrapper {
        padding-top: 3rem;
        flex-direction: column;
        align-items: center; } }
  .development__web {
    width: 32rem;
    margin-right: 8rem;
    display: block; }
    @media (max-width: 62em) {
      .development__web {
        width: 90%;
        margin-right: 0; } }
    .development__web--p1 {
      margin-top: 2.3rem; }
      @media (max-width: 62em) {
        .development__web--p1 {
          margin-top: 1.5rem; } }
    .development__web--p2 {
      margin-top: 3.3rem; }
      @media (max-width: 62em) {
        .development__web--p2 {
          margin-top: 1.5rem; } }
  .development__wire {
    width: 90%; }
    @media (max-width: 62em) {
      .development__wire {
        margin-top: 1.5rem; } }
    .development__wire--p {
      margin-top: 2.3rem; }
  .development__p {
    margin-top: 2.6rem;
    position: absolute;
    width: 32rem; }
    @media (max-width: 71.25em) {
      .development__p {
        width: 26rem; } }
    @media (max-width: 48em) {
      .development__p {
        width: 23rem; } }
    @media (max-width: 36em) {
      .development__p {
        width: 18rem; } }
  .development__block {
    height: 28rem;
    width: 77.5rem;
    background-color: #fff;
    margin-top: 4.5rem;
    margin-left: -3rem; }
    @media (max-width: 71.25em) {
      .development__block {
        width: 65rem;
        height: 32rem; } }
    @media (max-width: 62em) {
      .development__block {
        width: 100%;
        margin: 3rem 0; } }
    @media (max-width: 48em) {
      .development__block {
        height: 32rem; } }
    .development__block-wrapper {
      display: flex; }
    .development__block--custom {
      margin: 3rem; }
      @media (max-width: 36em) {
        .development__block--custom {
          margin: 2rem; } }
  .development__list {
    margin-top: 7rem;
    display: inline-block;
    width: 32rem; }
    @media (max-width: 71.25em) {
      .development__list {
        margin-top: 9rem;
        width: 26rem; } }
    @media (max-width: 62em) {
      .development__list {
        margin-top: 9rem; } }
    @media (max-width: 48em) {
      .development__list {
        margin-top: 11rem;
        width: 23rem; } }
    @media (max-width: 36em) {
      .development__list {
        width: 18rem; } }
  .development__item {
    font-size: 1.7rem;
    list-style: none;
    padding: 1rem 0;
    cursor: pointer;
    transition: all .2s; }
    .development__item:hover {
      color: #448ccb; }
    .development__item:not(:last-child) {
      border-bottom: 1px solid black; }

.footer {
  height: 15rem;
  background-color: #1e2123;
  background-size: cover;
  width: 100%; }
  @media (max-width: 62em) {
    .footer {
      height: 17rem; } }
  @media (max-width: 48em) {
    .footer {
      height: 19rem; } }
  .footer__wrapper {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 62em) {
      .footer__wrapper {
        flex-direction: column;
        align-items: center; } }
  .footer__text-block {
    margin-top: 5rem;
    display: block;
    width: 55rem; }
    @media (max-width: 62em) {
      .footer__text-block {
        margin-top: 3rem;
        width: 90%; } }
  .footer__p {
    font-size: 1.4rem;
    color: #6b6c6c;
    line-height: 2rem; }
    @media (max-width: 48em) {
      .footer__p {
        font-size: 1.2rem; } }
  .footer__nav {
    margin-top: 4rem; }
    @media (max-width: 62em) {
      .footer__nav {
        margin-top: 2rem; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 2rem; }
  .footer__link {
    font-size: 1.3rem;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    transition: all .2s; }
    .footer__link:hover {
      color: #448ccb; }
  .footer__copy {
    float: right; }
    @media (max-width: 62em) {
      .footer__copy {
        margin-top: 3rem;
        float: none;
        text-align: center; } }
    .footer__copy--text {
      font-size: 1.1rem;
      color: #fff; }
    .footer__copy--bold {
      font-weight: 700; }

.header {
  background-color: #448ccb;
  height: 13rem;
  background-size: cover;
  width: 100%; }
  .header__main {
    padding-top: 2.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 62em) {
      .header__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 1.5rem; } }
  .header__banner {
    font-size: 2.7rem;
    color: #fff;
    text-decoration: none; }
    @media (max-width: 62em) {
      .header__banner {
        margin-bottom: 1.5rem; } }
    .header__banner--bold {
      font-weight: 800; }
    .header__banner--light {
      font-weight: 300; }

.top-nav {
  padding-top: 1.7rem; }
  @media (max-width: 62em) {
    .top-nav {
      display: flex;
      justify-content: center; } }
  .top-nav__list {
    list-style: none; }
  .top-nav__item {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400; }
    .top-nav__item:not(:last-child) {
      padding-right: 1.3rem;
      margin-right: 1rem;
      border-right: 1px solid #fff; }
  .top-nav__link:link, .top-nav__link:visited {
    color: #fff;
    text-decoration: none;
    transition: all .2s; }
  .top-nav__link:hover, .top-nav__link:active {
    color: #1e2123; }

.main-nav__list {
  list-style: none; }

.main-nav__item {
  font-size: 1.5rem;
  font-weight: 700;
  display: inline-block; }
  .main-nav__item:not(:last-child) {
    padding-right: 3.3rem; }

.main-nav__link:link, .main-nav__link:visited {
  color: #fff;
  text-decoration: none;
  transition: all .2s; }

.main-nav__link:hover, .main-nav__link:active {
  color: #1e2123; }

.main-nav__drop-content {
  position: absolute;
  min-width: 15.5rem;
  z-index: 1;
  display: none; }
  @media (max-width: 48em) {
    .main-nav__drop-content {
      min-width: 19.5rem; } }
  @media (min-width: 112.5em) {
    .main-nav__drop-content {
      min-width: 12rem; } }

.main-nav__drop--list {
  position: relative;
  margin-top: 3.6rem;
  left: -4.75rem;
  list-style: none; }
  @media (max-width: 48em) {
    .main-nav__drop--list {
      left: -6.8rem;
      margin-top: 5.1rem; } }
  @media (min-width: 112.5em) {
    .main-nav__drop--list {
      margin-top: 2.3rem;
      left: -3.25rem; } }

.main-nav__drop--item {
  font-size: 1.1rem;
  font-weight: 800;
  display: block; }
  @media (max-width: 48em) {
    .main-nav__drop--item {
      font-size: 1.4rem; } }
  @media (min-width: 112.5em) {
    .main-nav__drop--item {
      font-size: .9rem; } }

.main-nav__drop--link {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 1rem 1rem 1rem 2rem; }
  @media (min-width: 112.5em) {
    .main-nav__drop--link {
      padding: .9rem; } }
  .main-nav__drop--link:hover {
    color: #1e2123;
    background-color: #fff; }

.main-nav__drop:hover .main-nav__drop-content {
  display: block; }

.main-nav__fig1 {
  position: absolute;
  margin-top: 1.3rem;
  padding-left: 2rem; }

.main-nav__fig2 {
  position: absolute;
  margin-top: 2.1rem;
  left: -5rem; }
  @media (max-width: 48em) {
    .main-nav__fig2 {
      left: -7rem; } }
  @media (min-width: 112.5em) {
    .main-nav__fig2 {
      left: -3.5rem;
      margin-top: 1.9rem; } }
