$color-primary: #448ccb;
$color-blue:  #3b91c2;
$color-blue-2:  #0c9aec;
$color-grey-dark: #1e2123;
$color-grey-dark-2: #6b6c6c;
$color-grey-light: #d7d7d7;
$color-grey-light-2: #e8e8e9;
$color-white: #fff;
