.contact {
    margin: 7rem 0;
    @include respond(lg) {
        margin: 4rem 0;
    }

    &__wrapper {
        display: flex;
        margin-top: 8rem;

        @include respond(lg) {
            flex-direction: column;
            margin-top: 3rem;
            align-items: center;
        }
    }

    &__box {
        display: block;
        width: 53rem;
        @include respond(lg) {
            width: 90%;
        }
    }

    &__p {
        &:not(:last-child) {
            margin-bottom: 2.8rem;
        }
    }

    &__form {
        margin-top: 13rem;
        margin-left: 8rem;
        display: inline-block;
        width: 36rem;

        @include respond(lg) {
            width: 70%;
            margin-top: 3rem;
            margin-left: 0;
            align-items: center;
        }

        @include respond(md) {
            width: 90%;
        }
    }
}