.footer {
    height: 15rem;
    background-color: $color-grey-dark;
    background-size: cover;
    width: 100%;

    @include respond(lg) {
        height: 17rem;
    }

    @include respond(md) {
        height: 19rem;
    }

    &__wrapper { 
        display: flex;
        justify-content: space-between; 

        @include respond(lg) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__text {
        margin-top: 5rem;
        display: block;
        width: 55rem;
        @include respond(lg) {
            margin-top: 3rem;
            width: 90%;
        }
    }

    &__p {
        font-size: 1.4rem;
        color: $color-grey-dark-2;
        line-height: 2rem;

        @include respond(md) {
            font-size: 1.2rem;
        }
    }

    &__nav {
        margin-top: 4rem;

        @include respond(lg) {
            margin-top: 2rem;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__link {
        font-size: 1.3rem;
        font-weight: 800;
        color: $color-white;
        text-decoration: none;
        transition: all .2s;

        &:hover {
            color: $color-primary;
        }
    }

    &__copy {
        float: right;
        @include respond(lg) {
            margin-top: 3rem;
            float: none;
            text-align: center;
        }
        &--text {
            font-size: 1.1rem;
            color: $color-white;
        }

        &--bold {
            font-weight: 700;
        }
    }
}