.header {
    background-color: $color-primary;
    height: 13rem;
    background-size: cover;
    width: 100%;
    position: relative;

    &__main {

    }

    &__banner {


        &--bold {

        }

        &--light {
            
        }
    }
}