.header {
    background-color: $color-primary;
    height: 13rem;
    background-size: cover;
    width: 100%;
    position: relative;

    &__main {
        padding-top: 2.4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__banner {
        font-size: 2.7rem;
        color: $color-white;
        text-decoration: none;

        &--bold {
            font-weight: 800;
        }

        &--light {
            font-weight: 300;
        }
    }
}