.btn {
    font-size: 1.5rem;
    font-weight: 800;
    background-color: #3b91c2;
    box-shadow: none;
    display: inline-block;
    text-align: center;
    padding: 1rem 0.8rem;
    float: right;
    
    text-decoration: none;

    &__white {
        color: $color-white;
        border-color: $color-white;
        border: 3px solid $color-white;
    }
}