*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @include respond(md) {
        font-size: 50%;
    }

    @include respond(xxl) {
        font-size: 80%;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    font-weight: 400;
}

.container {
    max-width: 112rem;
    margin: 0 auto;

    @include respond(xl) {
        width: 95%;
    }
}