*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    // @include respond(xxl) {
    //     font-size: 75%;
    // }
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    font-weight: 400;
}

.container {
    max-width: 112rem;
    margin: 0 auto;

    @include respond(xl) {
        max-width: 95rem;
    }

    @include respond(lg) {
        max-width: 85rem;
    }

    @include respond(md) {
        max-width: 65rem;
    }

    @include respond(sm) {
        max-width: 56rem;
    }

    // @include respond(xxl) {
    //     max-width: 130rem;
    // }

}